In [1]:
import csv

header = ['name', 'area', 'country_code2', 'country_code3']

row_1 = ['Egypt', 652090, 'EG', 'EGP']
row_2 = ['USA', 516151, 'US', 'USA']
row_3 = ['Japan', 412547, 'JP', 'JPN']


with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write the data
    writer.writerow(row_1)
    writer.writerow(row_2)    
    writer.writerow(row_3)

In [2]:
import pandas as pd

df = pd.read_csv('countries.csv')
df

    name    area country_code2 country_code3
0  Egypt  652090            EG           EGP
1    USA  516151            US           USA
2  Japan  412547            JP           JPN

In [3]:
df['area'].mean()

526929.3333333334