In [1]:
import requests

In [2]:
response = requests.get('https://coronavirus.m.pipedream.net/')
data = response.json()

In [3]:
print(data['rawData'][1]['Country_Region'])
print(data['rawData'][1]['Confirmed'])
print(data['rawData'][1]['Deaths'])

Albania
178188
2829

In [5]:
import sqlite3

conn = sqlite3.connect('covid.db')


for country in data['rawData']:
    country_name = country['Country_Region']
    confirmed = country['Confirmed']
    deaths = country['Deaths']
    sql = 'INSERT INTO covid (country_name, deaths, confirmed) VALUES (?,?,?)'
    covid_data = [country_name, deaths, confirmed]
    cursor = conn.execute(sql, covid_data)
    
conn.commit()
conn.close()

In [5]:
import csv 

with open('covid.csv', 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=['Country_Name', 'Deaths', 'Confirmed'])
    writer.writeheader()
    for country in data['rawData']:
        country_name = country['Country_Region']
        confirmed = country['Confirmed']
        deaths = country['Deaths']
        writer.writerow({'Country_Name': country_name, 'Deaths': deaths, 'Confirmed': confirmed})

In [6]:
import pandas as pd

df = pd.read_csv('covid.csv')
df

            Country_Name  Deaths  Confirmed
0            Afghanistan    7243     155764
1                Albania    2820     177971
2                Algeria    5872     205286
3                Andorra     130      15338
4                 Angola    1664      62842
...                  ...     ...        ...
4000             Vietnam   21194     864053
4001  West Bank and Gaza    4556     447032
4002               Yemen    1804       9526
4003              Zambia    3658     209521
4004            Zimbabwe    4658     132368

[4005 rows x 3 columns]

In [7]:
df['Deaths'].mean()

1223.1912609238452